html, body {
    font-family: 'Arial Narrow Bold', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center; 
    background-color: whitesmoke
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    width: 400px;
    height: 510px;
}

.display-section {
    display: flex;
    justify-content: flex-end;
    border: 2px solid black;
    border-radius: 25px;
    height: 120px;
    width: 350px;
}

.button-container{ 
    display:flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    gap: 10px;
}

.calc-button { 
    width: 60px;
    height: 60px;
}

.equal-button { 
    width: 60px;
    height: 200px;
}

.button-column { 
    display: flex;
    height: 270px;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}


