html, body {
    font-family: 'Arial Narrow Bold', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center; 
    background-color: #808080
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #1c1c1e;
    background: #5D5E60;
    border-radius: 20px;
    width: 400px;
    height: 510px;
}

.display-section {
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    border: 2px solid#cfd6dc;
    background: #cfd6dc;
    border-radius: 20px;
    height: 110px;
    width: 350px;
    padding:5px;
}

.display-text { 
    font-size: 40px;
    color: #2c2c2e;
}

.button-container{ 
    display:flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    gap: 10px;
}

.button-font {
    color: #2c2c2e;
    font-size: 20px;
}

.calc-button { 
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: 2px solid #cfd6dc;
    background: #cfd6dc;
}

.equal-button { 
    width: 60px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid #cfd6dc;
    background: #cfd6dc;
}

.button-column { 
    display: flex;
    height: 270px;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}


